body {
  width: 100%;
  font-family: "Lato";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("Images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: left;
  /* justify-content: flex-start; */
  justify-content: space-between; 
}

.header-ieee-logo-and-text {
  display: flex;
  align-items: center;
}


.class-tagline {
  display: flex;
  flex-direction: column;
}

.header .header-image-rvu {
  
  width: 170px;
  height: auto;
  margin-right: 20px;
}

.header .header-image-ieee {
  
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.header .header-ieee-logo-and-text .main-tagline {
  font-size: 1em;
  font-weight: 900;
  color: #333;
}

.header .header-ieee-logo-and-text .tagline {
  font-size: 0.8em;
  color: #555;
  font-weight: 400;
}

.header-content {
  flex: 1;
}

.navbar {
  background-color: #1f2d36;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  padding: 10;
  /* padding-block: 0.1rem;  We dont need this. */
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  display: inline;
  margin: 0px;
  padding-inline: 25px;
  /* padding: 0.1 rem;  */
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.nav-links a:last-child {
  border-right: none;
}

.nav-links a:hover {
  background-color: #b19359;
  text-decoration: none;
}

.banner {
  background-image: url('Images/rvu-banner.jpg');
  width: 100%;
  height: 600px;
  /* height: auto; */
  gap: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.logo-container {
  background-color: rgba(255, 255, 255, 0.7); /* Translucent background */
  border-radius: 10px; /* Rounded corners for the background */
  padding: 10px; /* Space around the logo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for the translucent box */
}

.logo-container img {
  max-width: 300px; /* Limit logo width */
  height: auto; /* Maintain aspect ratio */
}

.partition {
  display: flex;
  width: 100%;
}

.left-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.left-section b {
  padding-left: 5%;
  padding-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 50px;
}

.left-section p {
  margin-top: 20px;
  padding-left: 110px;
  padding-right: 150px;
  display: block;
  font-weight: 400;
  font-size: large;
}

.left-section img {
  width: 60%;
  height: auto;
  display: block;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.right-section {
  width: 30%;
  flex: 0 0 26%;
  padding: 10px;
  padding-right: 50px;
  text-align: left;
}

.important-dates-box {
  background-color: #1f2d36;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.important-dates-box b {
  font-size: 1.5rem;
  font-weight: 900;
  color: #cbaa67;
}

.important-dates-box .title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  color: #ffffff;
}

.important-dates-box ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.important-dates-box li {
  font-weight: 400;
  color: #838383;
}

.carousel-container {
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  aspect-ratio: 16/9;
  background-color: #ddd;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #1f2d36;
  border-radius: 10px;
  max-width: 600px;
  margin: 10px auto;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-item span {
  color: #cbaa67;
}

.countdown-item span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.countdown-item .labels {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 5px;
}
#days, #hours, #minutes, #seconds {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 1260px) {
  .partition {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }

  button {
    font-size: 18px;
    padding: 8px 12px;
  }

  .important-dates-box {
    margin: 30px;
  }
}
